*{
    padding: 0;
    margin: auto;
    font-family: roboto;
}

.body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    background-color:#1F2937 ;
}

.logoNav{
display: flex;
margin-left: 0;
}

.logoNav img{
    height: 100px;
    width: 100px;
}

.navbar a{
    padding: 15px;
    color: #f9faf8;
    text-decoration: none;
    font-size: 24px;
}

.secon-hero{
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}

.two-container{
    width: 450px;
}

.two-container p{
    font-size: 18px;
    color: #E5E7EB;
    padding: 2px;
}

.button {
    background-color: #3882f6;
    font-family:'Times New Roman', Times, serif;
    border-radius: 8px;
    color: white;
    width: 120px;
    height: 33px;
    margin: 4px;
}

.sub-container img{
    /* padding-right: 280px; */
    width: 450px;
    height: 200px;
    border-radius: 15px;
}

.two-container span{
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.information{
    display: flex;
    flex-direction: column;
}

.header{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.img-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 40px;
}

/* .cont{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

.img-cont img{
    border-radius: 25px;
    border: solid 7px #84B0F9;
    margin: 25px
}

.img-cont p{
    width: 160px;
    font-size: 20px;
}

.quote{
    background-color: #E5E7EB;
    text-align: center;
    padding: 40px
}

.quote span{
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;
}

.footer{
    background-color: #1f2937;
    width: 100%;
    padding: 15px 10px;
    color: white;
    text-align: center;
    margin-top: auto;
}

.comment{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 850px;
    height: 250px;
}

.comment p{
    font-size: 36px;
    font-family: "light italic";
    color: #1F2937;
    text-align: left;
}

.hero-end{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;

}

.action{
    display: flex;
    width: 875px;
    height: 120px;
    background-color: #3882f6 ;
    border-radius: 10px;
}

.action span{
    color:#E5E7EB;
    font-family: "light italic";
    font-size: 20px;
    font-weight: bold;
}

.action p{
    flex-direction: column;
    color: #E5E7EB;
    padding-top: 6px;
}

.action button{
    color: white;
    background-color: #3882f6;
    text-decoration: none;
    border: solid 2px white;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    font-family: "light italic";
}